<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="loopyConfig" type="Loopy.LoopyConfiguration, Loopy"/>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<loopyConfig>
		<digitReplacements>
		<!--Add a <digitReplacement> element to replace integers divisible by the given digit with a string you specify. 
		The optional textColor attribute will display the replacement text in the color specified. E.g.
		<digitReplacement multipleOf="5" replaceWith="Lynx" textColor="#0C2340"/>
		will replace any multiples of 5 with the string "Lynx" in Midnight Navy Blue.
		-->
			<digitReplacement multipleOf="3" replaceWith="Goldy" textColor="#ffcc33"/>
			<digitReplacement multipleOf="7" replaceWith="Gopher" textColor="#7a0019"/>						  
		</digitReplacements>
	</loopyConfig>
</configuration>